.header-primary {
  color: $base-red;
  font-weight: 400;
  font-size: 6.8rem;
}

body {
  color: $black-accent;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 3.6rem;
  line-height: 1.7;
}