$base-red: #de041f;
$base-orange: rgb(231, 58, 35);

$black-accent: #000;
$base-gray: #412e2869;
$mid-gray: #C0B2B5;
$lightest-gray: #F0EFEA;

$heading-bottom-margin: 1rem;
$heading-bottom-margin-med: 4rem;
$heading-bottom-margin-big: 6rem;

$letter-spacing-wide: .5rem;
$letter-spacing-mild: .2rem;