.footer {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 3rem;
  }

  &__img {
    height: 2.5rem;
    width: auto;
    padding: 0 1rem;
  }
}