.search-form {
  margin: 2% 2% 0 15%;

  &--specification {
    display: flex;
    align-items: center;
    margin-bottom: $heading-bottom-margin-med; //may need to change as li are added
  }

  &__label {
    letter-spacing: $letter-spacing-wide;
    font-size: 2.1rem;
    font-weight: 600;
  }

  &__input {
    background-color: $lightest-gray;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: $base-gray;
    height: 3rem;
    letter-spacing: $letter-spacing-mild;
    padding-left: 1rem;
    width: 25rem;
  }

  &__checkboxes {
    margin-left: 10%;
  }

  &__checkbox {
    margin-bottom: $heading-bottom-margin;

    &--instructions {
      font-size: 2.1rem;
      font-weight: 400;
      margin-bottom: $heading-bottom-margin;
    }

    &-label {
      margin-left: 1.8rem;
      letter-spacing: $letter-spacing-mild;
      cursor: pointer;
      position: relative;
    }

    &-org {
      background-color: $base-orange;
    }

    &-red {
      background-color: $base-red;
    }

    &-gry {
      background-color: $mid-gray;
    }

    &-btn {
      height: 2.6rem;
      width: 2.6rem;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: -3.9rem;
      top: -8%;
      margin-bottom: .2rem;

      &::after {
        content: "";
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        clip-path: polygon(31% 71%, 84% 2%, 100% 14%, 32% 100%, 0 63%, 13% 51%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $black-accent;
        opacity: 0;
        transition: opacity .25s;
      }
    }
  }

  &__checkbox-input:checked~&__checkbox-label &__checkbox-btn::after {
    opacity: 1;
  }

  &__button {
    height: 3rem;
    width: 11rem;
    background-color: $black-accent;
    color: $lightest-gray;
    border-radius: 3rem;
    font-size: 1.8rem;
    margin: 1rem 10%;
  }
}