.header {
  display: flex;
  padding: 2rem 0;
  background-color: $base-gray;
  margin-bottom: $heading-bottom-margin-big;

  &-primary {
    color: #A10115;
    font-size: 6rem;
    position: relative;
    top: 4.3rem;
    left: -11rem;
  }

  &__logo {
    height: 15rem;
    width: auto;
  }
}